#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: rgb(29, 29, 29);
  
}
.playAgain{
  border-radius: 15px;

}
.submitClass{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.bottonSubmit{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px ;
}
.pokeLogo{
  height: 200px;
}